body {
    background-color: rgb(0,0,0);
    font-family: Helvetica, sans-serif;
}
h1{
    padding-top: 20%;
    color: rgb(256,256,256);
    font-size: 50px;
    align-items: center;
    vertical-align: middle;
    font-weight: lighter;
}

h2 {
    margin: 0 auto;
}

.header {
background-image: url("../images/apple-pie.jpg");
height: 350px;
background-size: 100%;
text-align: center;

}
.content-div{
    width: 55%;
    margin:0 auto;
    background-color: rgb(256,256,256);
}

.header-pic{
    width: 100%;
}

p h ul ol {

    margin: 10px 10px 10px 10px;
    font-weight: lighter;

}

.infos {
    padding: 5%;
}

.img-wrapper{
    text-align: center;
}

.info-pic {
    width: 70%;
}





